* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

#portfolioLanding {
    background-color: #1d2c1e;
    padding-top: 300px;
    padding-bottom: 410px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#welcomeTextLanding {
    color: #fff;
    font-size: 3em;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#descriptionTextLanding {
    color: #acd3b4;
    font-size: 1em;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.sectionSpacerSmall {
    margin: 100px;
}

#contentHeading {
    color: #1d2c1e;
    padding: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 800;
}

#contentHR {
    width: 550px;
    height: 5px;
    background-color: #1d2c1e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#skills {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.5em;
    margin-top: 50px;
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 10px;
    display: grid;
    grid-template-rows: 2fr repeat(6, 2fr);
    grid-template-columns: repeat(4, 2fr);
    gap: 8px;
    background-color: #1d2c1e;
    border-radius: 10px;
}

.item {
    border-radius: 10px;
}

.item-2, .item-4, .item-6 {
    font-size: 1em;
    font-weight: 700;
    color: #1d2c1e;
    align-content: center;
    text-align: right;
    padding: 10px;
    padding-right: 40px;
}

.item-3, .item-5, .item-7 {
    font-size: 1em;
    font-weight: 600;
    color: #1d2c1e;
    align-content: center;
    text-align: left;
    padding: 10px;
    padding-left: 40px;
}

.item-3 ul, .item-5 ul, .item-7 ul {
    display: flex;
    flex-direction: row;
    gap: 0;
    list-style: none;
    padding-left: 0;
}

.item-3 ul li, .item-5 ul li, .item-7 ul li {
    padding: 0 15px;
}

.item-3 ul li + li, .item-5 ul li + li, .item-7 ul li + li {
    border-left: 2px solid #1d2c1e;
}

.item-1 {
    display: flex;
    grid-area: 1 / 1 / 2 / 5;
    border-radius: 20px;
    background-color: #acd3b4;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 900;
    color: #fff;
}

.item-2 {
    display: grid;
    grid-area: 2 / 1 / 4 / 2;
    background-color: #acd3b4;
}

.item-3 {
    display: grid;
    grid-area: 2 / 2 / 4 / 5;
    background-color: #acd3b4;
}

.item-4 {
    display: grid;
    grid-area: 4 / 1 / 6 / 2;
    background-color: #acd3b4;
}

.item-5 {
    display: grid;
    grid-area: 4 / 2 / 6 / 5;
    background-color: #acd3b4;
}

.item-6 {
    display: grid;
    grid-area: 6 / 1 / 8 / 2;
    background-color: #acd3b4;
}  

.item-7 {
    display: grid;
    grid-area: 6 / 2 / 8 / 5;
    background-color: #acd3b4;
}