* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

#portfolioLanding {
    background-color: #1d2c1e;
    padding-top: 300px;
    padding-bottom: 410px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#welcomeTextLanding {
    color: #fff;
    font-size: 3em;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#descriptionTextLanding {
    color: #acd3b4;
    font-size: 1em;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.sectionSpacerSmall {
    margin: 100px;
}

#researchHeading {
    color: #1d2c1e;
    padding: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 800;
}

#researchHeadingHR {
    width: 550px;
    height: 5px;
    background-color: #1d2c1e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#parentResearchSection.researchSection {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
#rS1 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
}

#rS2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
}

#rS3 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 5;
}
        