* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#portfolioLanding {
    background-color: #1d2c1e;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#welcomeTextLanding {
    color: #fff;
    font-size: 80px;
    margin-top: 20px;
}

#descriptionTextLanding {
    color: #acd3b4;
    font-size: 50px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

